body { background: #e8e8e8; }
.container { margin: 0 auto; }

/* Example wrapper */
.wrap {
	position: relative;
	margin: 3em 0;
}

.card-list {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
	display: flex;
	align-content: center;
}
.card-list-item {
	align-self: center;
	display: block;
	position: relative;
	height: fit-content;
	margin: 0 20px;
	padding: 0;
	cursor: pointer;
	transition: all .2s linear;
	width: 30%;
	flex-shrink: 0;
}

/* Frame */
.frame {
	height: auto;
	width: 100%;
	overflow: hidden;
	touch-action: manipulation;
}


.frame .card-list .card-list-item.active {
}
.frame .card-list .card-list-item:hover {
	box-shadow: 0px 0px 20px -7px;
}
@media (max-width: 768px) {
	/* CSS для: 768px <= ширины <= 991px */
	.card-list-item {
		width: auto;
		max-width: 80vw;
	}
}
